<div id="<%= dom_id content %>">
  <p>
    <strong>Title:</strong>
    <%= content.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= content.description %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= content.type %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= content.url %>
  </p>

  <p>
    <strong>Thumbnail:</strong>
    <%= content.thumbnail %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= content.category_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= content.user_id %>
  </p>

</div>
