<div id="<%= dom_id comment %>">
  <p>
    <strong>Content:</strong>
    <%= comment.content_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= comment.user_id %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.comment %>
  </p>

  <p>
    <strong>Parent:</strong>
    <%= comment.parent_id %>
  </p>

</div>
